.rating-distance {
  display: flex;
  // justify-content: space-between;
}

.rating {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.rating mat-icon {
  color: rgb(255, 217, 0);
  gap: 5px;
}

.distance {
  display: flex;
  align-items: center;
}

.price {
}
