.not-found-container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 150px;
  color: #e74c3c;
  margin-bottom: 10px;
  animation: shake 0.5s;
}

p {
  font-size: 24px;
  color: #333;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}
