.login-page{

  width: 500px;

  &__facebook{
   background-color:cornflowerblue;
   color: aliceblue;
   height: 50px;
   border-width: 5px;
  }
  &__apple{
    background-color: black;
    color: aliceblue;
    height: 50px;
    border: 5px;
  }
  &__google{
    color: aliceblue;
    height: 50px;

  }
  &__email{
    height: 50px;

  }
}
