.spacer {
  flex: 1 1 auto;
}

.header {


  &__image {
    width: 130px;
  }
  &__buttons {
    align-self: center;

  }
  &__partner{
      width: 180px;
      background-color: aliceblue;
    }
    &__login {
      width: 190px;
       background-color: aliceblue;
    }
    &__icon--color{
      color:turquoise;
    }
    &__menu{
      width: 110px;
      background-color: aliceblue;
    }
}
@media screen and (min-width: 768px) {
  .showHide  { display: block; }
  #leftside > button { display: none; }
}
