<div class="container">
  <div class="row">
    <!-- LEFT PANEL -->
    <div class="col-3">
      <div class="box">
        <mat-stepper
          orientation="vertical"
          [linear]="true"
          #stepper
          (selectionChange)="onStepChange($event)"
        >
          <ng-template matStepperIcon="edit">
            <mat-icon>done</mat-icon>
          </ng-template>
          <mat-step>
            <ng-template matStepLabel>Restaurant Details</ng-template>
            <ng-template matStepContent> </ng-template>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Add Dish Categories</ng-template>
            <ng-template matStepContent> </ng-template>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Add Dishes</ng-template>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
    <!-- RIGHT PANEL -->
    <div class="col-9">
      <div class="box">
        <app-restaurant-details *ngIf="isAddRestaurantDetailsSelected"
        (onDetailsNext)="onNextClicked(1, $event)">
        </app-restaurant-details>
        <app-dish-categories
          *ngIf="isDishCategoriesSelected"
          (onCategoriesNext)="onNextClicked(2, $event)"
          (onBackClicked)="onBackClicked()"
        ></app-dish-categories>
        <app-dishes *ngIf="isDishSectionSelected"></app-dishes>
      </div>
    </div>
  </div>
</div>
