.box {
  width: 100%;
  min-height: 250px;
  background-color: aquamarine;
  background-color: white;
  border-style: solid;
  border-color: #dadada;
  border-width: thin;
}

.mat-step {
  background-color: #ff4081;
}

::ng-deep {
  .mat-step-header .mat-step-icon-selected,
  .mat-step-header .mat-step-icon-state-done,
  .mat-step-header .mat-step-icon-state-edit {
    background-color: #ff4081;
    color: #fff;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
