.registration-form {
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  font-weight: bold;
}

.submit-button {
  background-color: #ff355e !important;;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
