
<div style="background-color: black; padding-bottom: 32px;">
<div class="container">
<link rel="icon" href="https://e7.pngegg.com/pngimages/955/695/png-clipart-deliveroo-thumbnail-tech-companies-thumbnail.png">
<div>
<div style="background-color: black; margin-top: 7.5%;">
  <div  class="container row">
<h1 style="color: #fff;font-size: 40px; font-family: Roboto, sans-serif;
letter-spacing: normal; text-align: center;
 padding-bottom: 32px;
line-height: 48px; font-weight: 500;">Restaurant food, takeaway and <br> groceries.
<span style="font-weight: 500; color: #00ccbc; font-size: 40px;"> Delivered. </span></h1>
<p style="color: #fff; text-align: center;">Enter a postcode to see what we deliver</p>
</div>

<div class="container">
  <div class="search-container w-75 p-2 d-flex ">
    <button mat-icon-button><mat-icon mat-button class="icon">near_me</mat-icon></button>

    <div class="input-container">
      <input type="text" matInput placeholder="Search">
      <button mat-button class="search-button">
        search
      </button>
    </div>
  </div>
</div>


<div style="color: #fff; text-align: center; margin-top: 20px;"><a href="url" class="login">Log in</a> for your recent addresses.</div>

</div>
  </div>
</div>

</div>



