<p>main works!</p>
<div>
<mat-toolbar style="background-color: black; height: 20%;">
  <span > <img style="width: 12%;" [src]="src" alt=" " (click)="myMethod()"></span>
  <div class="d-flex" style="margin-right: 50px; align-items: center;" >
    <button style=" margin-right: 5%;"  class=" text-bg-light btn alignbtn p-1 ">
      <mat-icon>keyboard_arrow_down</mat-icon>Partner with us</button>
    <button style=" margin-right: 5%; align-items: center;" class=" text-bg-light btn alignbtn p-1 flex2"><mat-icon>home</mat-icon>Sign up or log in</button>
    <button style=" margin-right: 5%; align-items: center;" class=" text-bg-light btn alignbtn ml-2 p-1 flex3 justify-content-center">
      	<mat-icon>menu</mat-icon>Menu</button>

  </div>
</mat-toolbar>

</div>
