<link rel="icon" href="https://e7.pngegg.com/pngimages/955/695/png-clipart-deliveroo-thumbnail-tech-companies-thumbnail.png">
<div>
  <div style="background-color: black; padding-bottom: 32px;">
<mat-toolbar style="background-color: black; height: 20%;">
  <span > <img style="width: 12%;" [src]="src" alt=" " (click)="myMethod()"></span>
  <div class="d-flex" style="margin-right: 50px; align-items: center;" >
    <button style=" margin-right: 5%;"  class=" text-bg-light btn alignbtn p-1 ">
      <mat-icon class='icon-color '>keyboard_arrow_down</mat-icon>&nbsp;Partner with us</button>
    <button style=" margin-right: 5%; align-items: center;" class=" text-bg-light btn alignbtn p-1 flex2">
      <mat-icon class='icon-color '>house</mat-icon>&nbsp;<span class="btn-space">Sign up or log in</span></button>
    <button style=" margin-right: 5%; align-items: center;" class=" text-bg-light btn alignbtn ml-2 p-1 flex3 justify-content-center">
      	<mat-icon class='icon-color '>menu</mat-icon>&nbsp;Menu</button>

  </div>
</mat-toolbar>
<div style="background-color: black; margin-top: 7.5%;">
<h1 style="color: #fff;font-size: 40px; font-family: Roboto, sans-serif;
letter-spacing: normal; text-align: center;
 padding-bottom: 32px;
line-height: 48px; font-weight: 600;">Restaurant food, takeaway and <br> groceries.
<span style="font-weight: 600; color: #00ccbc; font-size: 40px;"> Delivered. </span></h1>
<p style="color: #fff; text-align: center;">Enter a postcode to see what we deliver</p>


<div class="input-fieldbtn">
  <button mat-icon-button class="icn-btn"> <mat-icon class='icon-color '>near_me</mat-icon></button>

     <input mat-input type="text" class="input-class" placeholder="Location"
   >
    <button class="button-color" >Search</button>


</div>
<div style="color: #fff; text-align: center; margin-top: 20px;"><a href="url" class="login">Log in</a> for your recent addresses.</div>





</div>














</div>
</div>
