<div class="container">
  <div class="d-flex justify-content-center mt-5 mb-5" style="font-size: 25px">
    Restaurant Details
  </div>
  <div class="d-flex flex-column">
    <form [formGroup]="restaurantDetailsForm">
      <mat-form-field
        appearance="outline"
        style="width: 70%"
        color="accent"
        class="d-flex justify-content-center m-auto mb-3"
      >
        <mat-label>Restaurant Name</mat-label>
        <input matInput formControlName="name" placeholder="Hilton" required />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        style="width: 70%"
        color="accent"
        class="d-flex justify-content-center m-auto mb-3"
      >
        <mat-label>Restaurant Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="h@gmail.com"
          required
        />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        style="width: 70%"
        color="accent"
        class="d-flex justify-content-center m-auto mb-3"
      >
        <mat-label>Restaurant Contact Number</mat-label>
        <input
          type="number"
          matInput
          formControlName="contactNumber"
          placeholder="0777123456"
          required
          pattern="[0-9]*"
          maxlength="10"
        />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        style="width: 70%"
        color="accent"
        class="d-flex justify-content-center m-auto mb-3"
      >
        <mat-label>Restaurant Location</mat-label>
        <input
          matInput
          formControlName="location"
          placeholder="Location Link"
          required
        />
        <mat-hint>*Enter the location Link</mat-hint>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        style="width: 70%"
        color="accent"
        class="d-flex justify-content-center m-auto mb-3"
      >
        <mat-label>Distance</mat-label>
        <input
          type="number"
          matInput
          formControlName="distance"
          placeholder="10"
          required
        />
        <span matTextSuffix>Km</span>
        <mat-hint>*Enter the Distance in Kilo meters</mat-hint>
      </mat-form-field>

      <div
        style="width: 73%; display: flex; justify-content: center; margin: auto"
      >
        <div class="row" style="width: 100%">
          <div class="col-6">
            <mat-form-field
              appearance="outline"
              style="width: 100%"
              color="accent"
            >
              <mat-label>Opens At</mat-label>
              <input type="time" matInput formControlName="opensAt" required />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field
              appearance="outline"
              style="width: 100%"
              color="accent"
            >
              <mat-label>Closes At</mat-label>
              <input type="time" matInput formControlName="closesAt" required />
            </mat-form-field>
          </div>
        </div>
      </div>

      <mat-form-field
        appearance="outline"
        style="width: 70%"
        color="accent"
        class="d-flex justify-content-center m-auto mb-3"
      >
        <mat-label>Minimum Price</mat-label>
        <input
          type="number"
          matInput
          formControlName="minimumPrice"
          placeholder="50"
          required
        />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        style="width: 70%"
        color="accent"
        class="d-flex justify-content-center m-auto mb-3"
      >
        <mat-label>Delivery Fee</mat-label>
        <input
          type="number"
          matInput
          formControlName="deliveryFee"
          placeholder="5"
          required
        />
      </mat-form-field>

      <div
        formGroupName="deliveryTime"
        style="display: flex; justify-content: center"
      >
        <div class="row" style="width: 73%">
          <div class="col-6">
            <mat-form-field
              appearance="outline"
              style="width: 100%"
              color="accent"
            >
              <mat-label>Delivery Time</mat-label>
              <input
                type="time"
                matInput
                formControlName="from"
                placeholder="From"
                required
              />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field
              appearance="outline"
              style="width: 100%"
              color="accent"
            >
              <mat-label>Delivery Time</mat-label>
              <input
                type="time"
                matInput
                formControlName="to"
                placeholder="To"
                required
              />
            </mat-form-field>
          </div>
        </div>
      </div>

      <mat-form-field
        appearance="outline"
        style="width: 70%"
        color="accent"
        class="d-flex justify-content-center m-auto mb-3"
      >
        <!-- (removed)="removeTag(i)" -->
        <mat-label>Tags</mat-label>
        <mat-chip-list formArrayName="tagList">
          <mat-chip
            *ngFor="
              let tag of restaurantDetailsForm.get('tagList')?.value;
              let i = index
            "
            [removable]="true"
          >
            {{ tag }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <input matInput placeholder="Add tag" (keydown.enter)="addTag()" />
      </mat-form-field>

      <div class="d-flex justify-content-center">
        <button mat-raised-button color="primary" (click)="onSubmit()">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
