.centered-mat-field {
  margin: 0 auto;
}

.timepicker__header[_ngcontent-ng-c2461858124] {
  background-color: #ff4081;
}

[_nghost-ng-c2461858124] {
  --body-background-color: #fff;
  --primary-font-family: 'Roboto', sans-serif;
  --button-color: #ff4081;
  --dial-active-color: #fff;
  --dial-inactive-color: rgba(255, 255, 255, 0.5);
  --dial-background-color: #ff4081;
  --dial-editable-active-color: #ff4081;
  --dial-editable-background-color: #fff;
  --clock-face-time-active-color: #fff;
  --clock-face-time-inactive-color: #6c6c6c;
  --clock-face-inner-time-inactive-color: #929292;
  --clock-face-time-disabled-color: #c5c5c5;
  --clock-face-background-color: #f0f0f0;
  --clock-hand-color: #ff4081;
}

.mat-divider-vertical {
  border-right-color: rgb(0 0 0 / 36%);
}

.mat-divider {
  border-top-color: rgb(0 0 0 / 54%);
}
