<div class="container">
  <div class="d-flex justify-content-center mt-5 mb-5" style="font-size: 25px">
    Restaurant Details
  </div>
  <div class="d-flex flex-column">
    <form [formGroup]="restaurantDetailsForm">
      <mat-form-field
        appearance="outline"
        style="width: 70%"
        color="accent"
        class="d-flex justify-content-center m-auto mb-3"
      >
        <mat-label>Restaurant Name</mat-label>
        <input matInput formControlName="name" placeholder="Hilton" required />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        style="width: 70%"
        color="accent"
        class="d-flex justify-content-center m-auto mb-3"
      >
        <mat-label>Restaurant Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="h@gmail.com"
          required
        />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        style="width: 70%"
        color="accent"
        class="d-flex justify-content-center m-auto mb-3"
      >
        <mat-label>Restaurant Contact Number</mat-label>
        <input
          matInput
          formControlName="contactNumber"
          placeholder="0777123456"
          required
          pattern="[0-9]*"
          maxlength="10"
        />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        style="width: 70%"
        color="accent"
        class="d-flex justify-content-center m-auto mb-3"
      >
        <mat-label>Restaurant Location</mat-label>
        <input
          matInput
          formControlName="location"
          placeholder="Location Link"
          required
        />
        <mat-hint>*Enter the location Link</mat-hint>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        style="width: 70%"
        color="accent"
        class="d-flex justify-content-center m-auto mb-3"
      >
        <mat-label>Distance</mat-label>
        <input
          type="number"
          matInput
          formControlName="distance"
          placeholder="10"
          required
        />
        <span matTextSuffix>Km</span>
        <mat-hint>*Enter the Distance in Kilo meters</mat-hint>
      </mat-form-field>

      <div
        style="width: 73%; display: flex; justify-content: center; margin: auto"
      >
        <div class="row" style="width: 100%">
          <div class="col-6">
            <mat-form-field
              appearance="outline"
              style="width: 100%"
              color="accent"
            >
              <mat-label>Opens At</mat-label>
              <input
                #opensAtInput
                matInput
                [ngxTimepicker]="opensAtPicker"
                formControlName="opensAt"
                required
              />
              <ngx-material-timepicker #opensAtPicker></ngx-material-timepicker>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field
              appearance="outline"
              style="width: 100%"
              color="accent"
            >
              <mat-label>Closes At</mat-label>
              <input
                #closesAtInput
                matInput
                [ngxTimepicker]="closesAtPicker"
                formControlName="closesAt"
                required
              />
              <ngx-material-timepicker
                #closesAtPicker
              ></ngx-material-timepicker>
            </mat-form-field>
          </div>
        </div>
      </div>

      <mat-form-field
        appearance="outline"
        style="width: 70%"
        color="accent"
        class="d-flex justify-content-center m-auto mb-3"
      >
        <mat-label>Minimum Price</mat-label>
        <input
          type="number"
          matInput
          formControlName="minimumPrice"
          placeholder="50"
          required
        />
        <span class="mr-2" matTextPrefix>£</span>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        style="width: 70%"
        color="accent"
        class="d-flex justify-content-center m-auto mb-3"
      >
        <mat-label>Delivery Fee</mat-label>
        <input
          type="number"
          matInput
          formControlName="deliveryFee"
          placeholder="5"
          required
        />
        <span class="mr-2" matTextPrefix>£</span>
      </mat-form-field>

      <div
        formGroupName="deliveryTime"
        style="display: flex; justify-content: center"
      >
        <div class="row" style="width: 73%">
          <div class="col-6">
            <mat-form-field
              appearance="outline"
              style="width: 100%"
              color="accent"
            >
              <mat-label>Delivery Time (From)</mat-label>
              <input
                type="number"
                matInput
                formControlName="from"
                placeholder="From"
                required
              />
              <span matTextSuffix>min</span>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field
              appearance="outline"
              style="width: 100%"
              color="accent"
            >
              <mat-label>Delivery Time (To)</mat-label>
              <input
                type="number"
                matInput
                formControlName="to"
                placeholder="To"
                required
              />
              <span matTextSuffix>min</span>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="mt-3" style="margin-left: 15%; margin-right: 15%">
        <div class="d-flex justify-content-around mb-3">
          <div class="col-6">
            <h3>Add Your Tags Here</h3>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <button mat-stroked-button type="button" (click)="addTag()">
              <mat-icon>add</mat-icon>&nbsp;Add Tag
            </button>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div formArrayName="tagList">
              <div
                *ngFor="let tag of tagList.controls; let i = index"
                class="row"
              >
                <div
                  class="col-2 d-flex align-items-center"
                  style="flex: 0 0 50px; margin-top: -20px"
                >
                  <mat-divider
                    vertical
                    style="height: 70px; margin-top: -60px"
                  ></mat-divider>
                  <mat-divider
                    style="width: 40px; margin-top: 8px"
                  ></mat-divider>
                </div>
                <div class="col-8">
                  <mat-form-field
                    appearance="outline"
                    color="accent"
                    style="width: 100%"
                  >
                    <mat-label>{{ 'Tag ' + (i + 1) }}</mat-label>
                    <input
                      matInput
                      [formControlName]="i"
                      [placeholder]="'Tag ' + (i + 1)"
                      required
                      type="text"
                    />
                    <mat-error *ngIf="tagList.controls[i].invalid"
                      >Tag is required</mat-error
                    >
                  </mat-form-field>
                </div>
                <div
                  class="col-2 d-flex align-items-center justify-content-center"
                  style="padding-bottom: 20px"
                >
                  <button
                    type="button"
                    mat-icon-button
                    color="warn"
                    (click)="removeTag(i)"
                    aria-label="Remove"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end mt-3 mb-5 mx-4">
        <div class="m-2">
          <button mat-stroked-button (click)="onCancel()">Back</button>
        </div>
        <div class="m-2">
          <button mat-raised-button color="accent" (click)="onNext()">
            Next
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
