<div style="position: relative; overflow: visible;">
<div class="container-fluid mb-2">
  <div class="d-flex mt-3">
    <mat-icon
      mat-icon-button
      style="margin-top: 3px; font-size: 30px"
      class="back"
      >keyboard_backspace </mat-icon
    >&nbsp;<button
      mat-button
      class="back"
      style="font-size: 16px; font-family: plex-sans, sans-serif"
    >
      Back
    </button>
  </div>
</div>
<div class="container-fluid mt-4 mb-3">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img
        style="width: 100%"
        src="https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        alt=""
      />
    </div>

    <div class="col-lg-8 col-md-6 col-sm-12">
      <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
          <strong class="mb-2 title">Tossed - St Martin's Lane</strong>
          <p>10 - 20 min· Chicken·Salads·Healthy</p>
          <p>0.20 miles away·Closes at 21:00·£7.00 minimum·£0.49 delivery</p>
          <button
            mat-button
            class="mt-1 mb-1"
            style="width: 330px; height: 50px"
            appClick
          >
            <div class="row">
              <div class="col-1 icon">
                <mat-icon matPrefix class="error-icon">error_outline</mat-icon>
              </div>
              <div class="col-10 pr-0" style="padding-right: 0">
                <div
                  class="info"
                  style="
                    text-align: left;
                    margin-left: 10px;
                    color: #2e3333;
                    font-size: 16px;
                    line-height: 22px;
                    font-family: plex-sans, sans-serif;
                  "
                >
                  <b>Info</b>
                </div>
                <div
                  style="
                    text-align: left;
                    margin-left: 10px;
                    font-size: 14px;
                    line-height: 19px;
                    color: #585c5c;
                  "
                >
                  Map, allergens and hygiene rating
                </div>
              </div>
              <div class="col-1 p-0 icon">
                <mat-icon style="color: turquoise"
                  >keyboard_arrow_right</mat-icon
                >
              </div>
            </div>
          </button>
          <button
            appClick
            mat-button
            class="mt-2"
            style="width: 239px; height: 60px"
          >
            <div class="row" style="display: flex; align-items: center">
              <div class="col-1 icon">
                <mat-icon matPrefix class="error-icon" style="color: green"
                  >star</mat-icon
                >
              </div>
              <div class="col-9 pr-0" style="padding-right: 0">
                <div
                  class="info"
                  style="
                    text-align: left;
                    margin-left: 10px;
                    color: green;
                    font-size: 16px;
                    line-height: 22px;
                    font-family: plex-sans, sans-serif;
                  "
                >
                  <b>4.8 Excellent</b>
                </div>
                <div
                  style="
                    text-align: left;
                    margin-left: 10px;
                    font-size: 14px;
                    line-height: 19px;
                    color: #585c5c;
                  "
                >
                  See all 500 reviews
                </div>
              </div>
              <div class="col-1 p-0">
                <mat-icon matSuffix style="color: turquoise"
                  >keyboard_arrow_right</mat-icon
                >
              </div>
            </div>
          </button>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-12">
          <div class="d-flex justify-content-end">
            <button
              mat-button
              appClick
              style="
                width: 100%;
                font-size: 14px;
                line-height: 19px;
                color: #585c5c;
              "
            >
              <mat-icon
                matPrefix
                style="color: brown; font-size: 20px; overflow: visible"
              >
                directions_bike</mat-icon
              >
              Deliver in 10-20 min &nbsp;<span style="color: turquoise"
                >Change</span
              ></button
            ><br />
          </div>

          <div class="d-flex justify-content-center">
            <button
              appClick
              mat-stroked-button
              class="mt-4"
              style="
                font-size: 16px;
                line-height: 20px;
                font-family: plex-sans, sans-serif;
              "
            >
              <mat-icon class="back">group</mat-icon>
              Start group order
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-dish-category></app-dish-category>

<div class="container-fluid">
  <div class="row d-flex">
    <div class="col-12 col-lg-7 col-md-7 d-flex">
      <app-menu-items></app-menu-items>
    </div>
    <div
      class="col-12 col-lg-5 col-md-5 d-flex justify-content-center"
      style="margin-bottom: 800rem"
    >
      <app-basket></app-basket>
    </div>
  </div>
</div>
</div>
