<div class="container-fluid mb-2">
  <div class="d-flex mt-3">
    <mat-icon
      mat-icon-button
      style="margin-top: 3px; font-size: 30px"
      class="back"
      >keyboard_backspace </mat-icon
    >&nbsp;<button
      mat-button
      class="back"
      style="font-size: 16px; font-family: plex-sans, sans-serif"
    >
      Back
    </button>
  </div>
</div>
<div class="container mt-4 mb-3">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img
        style="width: 100%"
        src="https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        alt=""
      />
    </div>

    <div class="col-lg-8 col-md-6 col-sm-12">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-12 d-flex justify-content-center">
          <!-- content1 -->
          content1
        </div>
        <div class="col-lg-4  col-md-12 col-sm-12 col-12 d-flex justify-content-center">
          <!-- content2 -->
          content2
        </div>
      </div>
    </div>
  </div>
</div>
