<div>
  <img [src]="imgUrl" alt="" class="dish-image" />
</div>
<div class="container mt-2" style="padding: 5%">
  <h1>{{ dish.name }}</h1>
  <h4>{{ dish.description }}</h4>
  <h4>{{ dish.calories }} Kcal</h4>
  <mat-divider></mat-divider>
</div>

<!-- size -->
<div class="container mb-3 mt-3">
  <h2 style="margin-bottom: -3%; margin-left: 2%"><b>Size</b></h2>
  <br />
  <div class="container">
    <mat-radio-group
      aria-label="Select an option"
      [(ngModel)]="selectedOption"
      (change)="onChangeSize()"
    >
      <div *ngFor="let size of dish.size" class="radio-container">
        <mat-radio-button [value]="size.name">{{ size.name }}</mat-radio-button>
        <div class="price">+£&nbsp;{{ size.price || dish.price }}</div>
      </div>
    </mat-radio-group>
  </div>
</div>

<!-- Addons -->
<div class="container mb-4 mt-3">
  <h2 style="margin-left: 2%"><b>Extra Add-Ons</b></h2>
  <div class="container" *ngFor="let add of dish.addOns">
    <div class="d-flex d-flex justify-content-between">
      <div class="d-flex">
        <mat-checkbox
          [(ngModel)]="add.checked"
          (ngModelChange)="onCheckboxChange(add)"
          >{{ add.name }}</mat-checkbox
        >
      </div>
      <div>
        <span class="addon-price">£&nbsp;{{ add.price }}</span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-center mb-4">
    <button mat-mini-fab style="background-color: #ff355e" (click)="onRemove()">
      <mat-icon>remove</mat-icon>
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="margin-top: 2%">{{ quantity }}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-mini-fab style="background-color: #ff355e" (click)="onAdd()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <button
    class="add mb-3"
    mat-stroked-button
    (click)="onClickAdd()"
    style="width: 100%; height: 50px"
  >
    <strong>Add for £ {{ additionPrice }}</strong>
  </button>
</div>
