.dish-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.container {
  bottom: 0;
  width: 100%;
}

.add {
  background-color: #ff355e;
  color: white;
}

.addon {
  width: 100%;
  display: flex;
}

.mat-radio-button {
  margin-bottom: 10px;
}

.radio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  margin-left: 10px;
  // color: #777;
}

::ng-deep {
  .mdc-dialog__surface {
  overflow-y: scroll;
  scrollbar-width: thin;
}
}

