<div class="registration-form mt-3 mb-3">
  <div class="d-flex justify-content-center">
    <h2>Register</h2>
  </div>
  <form [formGroup]="registrationForm">
    <mat-form-field appearance="outline" class="form-group">
      <mat-label for="firstname">First Name</mat-label>
      <input matInput type="text" id="firstname" formControlName="firstName" />
      <mat-error *ngIf="registrationForm.get('firstName')?.hasError('required')"
        >First Name is Required</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-group">
      <mat-label for="lastname">Last Name</mat-label>
      <input matInput type="text" id="lastname" formControlName="lastName" />
      <mat-error *ngIf="registrationForm.get('lastName')?.hasError('required')"
        >Last Name is Required</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-group">
      <mat-label for="email">Email</mat-label>
      <input matInput type="email" id="email" formControlName="email" />
      <mat-error *ngIf="registrationForm.get('email')?.hasError('required')"
        >Email is Required</mat-error
      >
      <mat-error *ngIf="registrationForm.get('email')?.hasError('email')"
        >Email is Invalid</mat-error
      >
      <mat-error *ngIf="registrationForm.get('email')?.hasError('emailConflict')"
      >Email has already Taken!!</mat-error
    >
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-group">
      <mat-label for="contact_number">Contact Number</mat-label>
      <input
        matInput
        type="tel"
        id="contact_number"
        formControlName="contact_number"
      />
      <mat-error
        *ngIf="registrationForm.get('contact_number')?.hasError('required')"
        >Contact Number is Required</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-group">
      <mat-label for="address">Address</mat-label>
      <input matInput type="text" id="address" formControlName="address" />
      <mat-error *ngIf="registrationForm.get('address')?.hasError('required')"
        >Address is Required</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-group">
      <mat-label for="password">Password</mat-label>
      <input
        matInput
        type="password"
        id="password"
        formControlName="password"
      />
      <mat-error *ngIf="registrationForm.get('password')?.hasError('required')"
        >Password is Required</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-group">
      <mat-label for="confirm_password">Confirm Password</mat-label>
      <input
        matInput
        type="password"
        id="confirm_password"
        formControlName="confirm_password"
      />
      <mat-error
        *ngIf="registrationForm.get('confirm_password')?.hasError('required')"
        >Password is Required</mat-error
      >
      <mat-error *ngIf="registrationForm.get('confirm_password')?.hasError('passwordMismatch')">
        Password And Confirm Password is Mismatch
      </mat-error>
    </mat-form-field>
    <div class="d-flex justify-content-end">
      <button mat-button (click)="onCancel()">Cancel</button> &nbsp;&nbsp;
      <button
        class="submit-button"
        mat-stroked-button
        [disabled]="registrationForm.invalid"
        (click)="onSubmit()"
      >
        Register
      </button>
    </div>
  </form>
</div>
