
<app-header></app-header>
<mat-divider></mat-divider>
<div class="container">
  <div class="">
    <div class="mt-5 mb-5 d-flex justify-content-center">
      <div class="d-flex flex-column emailLogin">
        <div>
          <span class="emailLogin__heading"
            ><strong>Sign up or log in</strong></span
          >
        </div>
        <form>
          <div class="mt-3 d-flex flex-column">
            <p class="emailLogin__paragraph">Email Address</p>
            <mat-form-field appearance="outline" style="width: 400px">
              <input
                class=""
                matInput
                required
                placeholder="akalanka@gmail.com"
                [formControl]="email"
              />
              <mat-error *ngIf="email.invalid">Email is Required</mat-error>
            </mat-form-field>
            <div>
              <button
                class="emailLogin__continue"
                mat-stroked-button
                style="width: 400px; height: 50px"
                [disabled]="email.invalid"
              >
                <strong>Continue</strong>
              </button>
            </div>
            <br />
            <div>
              <button
                mat-stroked-button
                class="emailLogin__forgot"
                style="width: 400px; height: 50px; color: #00ccbc"
              >
                Forgot Password?
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<app-footer></app-footer>
