<app-header></app-header>
<mat-divider></mat-divider>
<div class="container">
  <div class="row">
     <div class="col d-flex">
      <h4>Sign up or log in</h4>
      <!-- <p>Email address</p>
      <form class="col form">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="emailFormControl"
          required
          placeholder="akalanka@example.com">
        </mat-form-field>
      </form> -->
     </div>
    </div>
</div>

<app-footer></app-footer>
