/* .example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
} */
 .navBar {
  width: 390px;
  align-items: center;
 }

 .close-icon{
    color: turquoise;
    font-size: 2rem;
    height: 2rem;
    width: 2rem;

  }
  .btn:focus {
    outline: none;
    box-shadow: none;
  }
  .loginbutton{
    margin-top: 40px;
    background-color : turquoise;
    color :white;
    width:100%;
    font-size:16px;
    font-family: plex-sans , sans-serif;
    height: 50px;
  }
.faqbutton{

}
.faqbutton:hover{
  border-color: turquoise;
  background-color: white;
 }
.mat-form-field{
  border-color: none;
}
.mat-button:hover {
  border-color: #00ccbc;
}
.icncolor{
  color: grey;
}
