.spacer {
  flex: 1 1 auto;
}

.header {
  &__image {
    width: 130px;
    margin-top: 15px;
  }
  &__partner {
    width: 180px;
    background-color: aliceblue;
  }
  &__search {
    width: 50px;
    background-color: aliceblue;
  }
  &__login {
    width: 190px;
    background-color: aliceblue;
  }
  &__icon--color {
    color: #ff355e;
  }
  &__menu {
    width: 110px;
    background-color: aliceblue;
  }
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}
.content-wrapper {
  margin-top: 120px;
}
