<mat-toolbar class="background">
<div class="flex1">
  <ul style="margin-top: 20px;">
    <div mat-header style="text-align: left;">Discover Deliveroo</div>
    <li><a href="url">Investors</a></li>
    <li><a href="url">About us</a></li>
    <li><a href="url">Takeaway</a></li>
    <li><a href="url">More</a></li>
    <li><a href="url">Newsroom</a></li>
    <li><a href="url">Engineering blog</a></li>
    <li><a href="url">Design blog</a></li>
    <li><a href="url">Gift Cards</a></li>
    <li><a href="url">Careers</a></li>
    <li><a href="url">Restaurant signup</a></li>
    <li><a href="url">Become a rider</a></li>
    <li><a href="url">Deliveroo Talent Directory</a></li>
  </ul>
</div>
<div class="flex2">
  <ul style="margin-top: 20px;">
    <div mat-header style="text-align: left;">Legal</div>
    <li><a href="url">Terms and conditions</a></li>
    <li><a href="url">Privacy</a></li>
    <li><a href="url">Modern Slavery Statement</a></li>
    <li><a href="url">cookies</a></li>
    <li><a href="url">Tax Strategy</a></li>
    <li><a href="url">Section 172 Statement</a></li>
    </ul>
</div>
  <div class="flex3">
    <ul style="margin-top: 20px;">
      <div mat-header style="text-align: left;">Help</div>
      <li><a href="url">Contact</a></li>
      <li><a href="url">FAQs</a></li>
      <li><a href="url">Cuisines</a></li>
      <li><a href="url">Brands</a></li>
      </ul>
    </div>
    <div class="flex4">

        <div mat-header style="text-align: left; margin-left: 25px; margin-top: 20px; margin-bottom: 10px;">Take Deliveroo with you</div>
<mat-list style="float: left;" >
        <mat-list-item><a href="url"><button class="btn-background">
          Download Deliveroo on <br>
          <span style="font-size: 20px;"> App Store</span>
          </button></a></mat-list-item><br>
        <mat-list-item><a href="url"><button class="btn-background">
          Get It On <br> <span style="font-size: 20px;">Google Play</span></button>
        </a></mat-list-item>

        </mat-list>
      </div>
</mat-toolbar>










































