<div class="background">
<div class="container justify-content-center">
  <div class=" row ">
    <div class="col-lg-3 col-md-6 col-sm-6 col-12" >
      <div class="p-3 flex1 mt-5">
        <ul style="padding-left: 0rem;">
        <div class="h6" >Discover Deliveroo</div>
        <li class="mt-2"><a href="url">Investors</a></li>
        <li class="mt-2"><a href="url">About us</a></li>
        <li class="mt-2"><a href="url">Takeaway</a></li>
        <li class="mt-2"><a href="url">More</a></li>
        <li class="mt-2"><a href="url">Newsroom</a></li>
        <li class="mt-2"><a href="url">Engineering blog</a></li>
        <li class="mt-2"><a href="url">Design blog</a></li>
        <li class="mt-2"><a href="url">Gift Cards</a></li>
        <li class="mt-2"><a href="url">Careers</a></li>
        <li class="mt-2"><a href="url">Restaurant signup</a></li>
        <li class="mt-2"><a href="url">Become a rider</a></li>
        <li class="mt-2"><a href="url">Deliveroo Talent Directory</a></li>
      </ul></div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12" >
      <div class="p-3 flex2 mt-5"  > <ul style="padding-left: 0rem;">
        <div class="h6" style="text-align: left;">Legal</div>
        <li class="mt-2"><a href="url">Terms and conditions</a></li>
        <li class="mt-2"><a href="url">Privacy</a></li>
        <li class="mt-2"><a href="url">Modern Slavery Statement</a></li>
        <li class="mt-2"><a href="url">cookies</a></li>
        <li class="mt-2"><a href="url">Tax Strategy</a></li>
        <li class="mt-2" ><a href="url">Section 172 Statement</a></li>
        </ul></div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <div class="p-3 flex3 mt-5"><ul style="padding-left: 0rem;">
        <div class="h6" style="text-align: left;">Help</div>
        <li class="mt-2"><a href="url">Contact</a></li>
        <li class="mt-2"><a href="url">FAQs</a></li>
        <li class="mt-2"><a href="url">Cuisines</a></li>
        <li class="mt-2"><a href="url">Brands</a></li>
        </ul></div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
      <div class="p-3 flex4 mt-5">
        <div class="h6 mb-4 " >
        Take Deliveroo with you</div>
       <ul>
        <li><a href="url"><button mat-button class="btn-background-google " style="color: antiquewhite;">
          <img style="width : 180px; height: 55px; " src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRCAhjqeq9TtTe2y5Ly9N1lBlJD-BVkEWx2BOgAdtCDX_i95chF" alt=""></button>
        </a></li>
       <br><br>
      <li><a href="url"><button mat-button class="btn-background-google " style="color: antiquewhite;">
        <img style="width : 180px; height: 70px; " src="https://www.freepnglogos.com/uploads/play-store-logo-png/play-store-logo-nisi-filters-australia-11.png" alt=""></button>
      </a></li>

    </ul></div>
    </div>
  </div>
</div>
</div>
