.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px;
  color: #FF355E;
  cursor: pointer;
}

.chip-text {
  margin: 0; /* Reset default margin for the span element */
}

.chip.selected {
  background-color: #FF355E;
  color: rgb(255, 255, 255);
}
.custom-chip {
  margin: 5px;
}

#FF355E-text {
  color: #FF355E;
}

.chip2-text {
  display: inline-block;
  vertical-align: middle;
}

.chip-icon {
  vertical-align: middle;
  margin-left: 4px; /* Adjust this margin as needed */
}
.overflow-auto::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.overflow-auto {
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

//  .fixed-content {
//   position: sticky;
//   top: 0;
//   z-index: 900; /* Optional: Add a z-index to ensure it appears above other elements */
// }

.custom-chip1 {
  padding: 8px 16px;
  margin: 4px;
  color: #FF355E;
  cursor: pointer;
  border-radius: 50px;
  min-width: auto; /* Allow the chip to adjust its width based on content */
  display: inline-block; /* Make the chip expand to fit its content */
  white-space: nowrap;
}

.custom-chip1.selected {
  background-color: #FF355E;
  color: white;
}
