.overflow-auto::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.overflow-auto {
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

//  .fixed-content {
//   position: sticky;
//   top: 0;
//   z-index: 900;
// }
.chips-container {
  max-width: 100%; /* Set a maximum width for the container */
  overflow-x: auto; /* Enable horizontal scrolling */
}

.container.d-flex {
  flex-wrap: nowrap; /* Ensure chips stay in a single line */
}

.custom-chip {
  /* Existing styles */
  color: #ff355e;
  cursor: pointer;
  border-radius: 50px;
  min-width: auto;
  display: inline-flex; /* Display chips in a single line */
  white-space: nowrap;
  margin-right: 8px;
  padding: 6px 12px;
}

.custom-chip.selected {
  background-color: #ff355e;
  color: white;
}

.custom-chip:last-child {
  margin-right: 0;
  padding-right: 0;
}
