.overflow-auto::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.overflow-auto {
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

//  .fixed-content {
//   position: sticky;
//   top: 0;
//   z-index: 900; /* Optional: Add a z-index to ensure it appears above other elements */
// }

.custom-chip {
  padding: 8px 16px;
  margin: 4px;
  color: #FF355E;
  cursor: pointer;
  border-radius: 50px;
  min-width: auto;
  display: inline-block;
  white-space: nowrap;
}

.custom-chip.selected {
  background-color: #FF355E;
  color: white;
}
