.back {
  color: #ff355e;
}

.info {
  text-align: left !important;
}

.custom-button.active {
  border-color: #ff355e;
}

.icon {
  align-items: center;
  display: grid;
}
.title {
  color: #2e3333;
  font-size: 38px;
  line-height: 48px;
  font-family: stratos, sans-serif;
}
p {
  font-size: 16px;
  line-height: 22px;
  color: #585c5c;
  font-family: plex-sans, sans-serif;
}
.dish {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 900;
  /* Additional styling as needed */
}
app-dish-category {
  transition: all 0.3s ease;
  background-color: white;
}

app-dish-category.sticky {
  position: fixed;
  top: 95px;
  width: 100%;
  z-index: 100;
}
