<mat-card class="mt-5"
  ><div class="container mt-3 mb-3">
    <div class="row">
      <h1
        style="
          font-family: plex-sans, sans-serif;
          font-size: 22px;
          line-height: 28px;
          font-weight: 700;
        "
      >
        Yoghurt & Fruits
      </h1>
      <div
        *ngFor="let item of dataArray; let i = index"
        class="col-lg-6 col-md-6 mb-3"
      >
        <div class="card">
          <div class="card-body d-flex flex-column">
            <div class="row">
              <div class="col-9">
                <span class="card-title">Card {{ item }}</span>
              </div>
              <div
                class="col-3 add-icon d-flex flex-grow-1 justify-content-center"
              >
                <button
                  mat-stroked-button
                  class="plus-button d-flex"
                  style="height: 100%"
                >
                  <mat-icon
                    class="d-flex justify-content-center"
                    style="margin: 0; padding: 0"
                    >add</mat-icon
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
