<div>
<div class="m-4 border mb-5">
  <div class="row content">
    <div class="col-lg-5 col-md-5 col-sm-12 col-12">
         <div class="d-flex justify-content-start ">
          <div class="p-5">
          <span class="content__heading"><b>Track orders to your door</b></span>
          <br><br>
          <span class="content__subheading">
            Get your favourite food delivered in a flash. You’ll see when your rider’s picked up your order, and be able to follow them along the way. You’ll get a notification when they’re nearby, too.
          </span>
        </div>
         </div>

    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-12">
      <div class="d-flex justify-content-center">
         <img  src="https://img2.storyblok.com/filters:format(webp)/f/62776/x/ca59b51c51/map-min.svg." alt="" width="100%" height="380px">
    </div>
  </div>
</div>
</div>


<div class="off">
  <div class="container mb-3">
    <div class=" mb-4" >
      <div class="d-flex justify-content-center">
      <div  class=" off__heading "><b>Up to 25% off - Meal Deals</b>
      </div></div>
      <br>
      <div class="d-flex justify-content-center">
      <div class="off__subheading">
        Need a midweek pick-me-up, a break from cooking for the family or just fancy
      </div></div>
      <div class="d-flex justify-content-center">
        <div class="off__subheading">
          your favourite restaurant?
        </div>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <div class="off__subheading2">
          Service and delivery fees, subject to availability. Participating restaurants
        </div></div>
        <div class="d-flex justify-content-center">
          <div class="off__subheading2">
            only. T&Cs apply. Terms.
          </div>
        </div>

    </div>

  </div>

</div>
